/* 공통 */
*{
  margin: 0;
  padding: 0;
}
h1{
  overflow: hidden;
}
#wrap{
  /* display: none; */
  box-sizing: border-box;
}
a{
  color: #333333;
  text-decoration: none;
}
ul,li {
  list-style: none;
}
ul{
  display: flex;
}
li{
  margin-left: 10px;
}
section{
  width: 100%;
  min-height: 500px;
}
.fc_blue{
  color: #6d80a1;
}
.swiper-pagination-bullet-active{
  background: pink !important;
}
.swiper-button-next, .swiper-button-prev{
  color: pink !important;
}
img.larger:hover{transform:scale(1.1,1.1);}

/* 비디오 */
video{
  width: 100%
}


.form-text {
  margin-top: .25rem;
  font-size: 0.75rem;
  color: var(--si-gray-600)
}

.form-control {
  display: block;
  width: 100%;
  padding: .625rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #565973;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d4d7e5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

/* 버튼 */
button {
  margin: 20px;
}
.custom-btn {
  width: 150px;
  height: 40px;
  color: #6d80a1;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-3 {
  background: rgb(239,233,239);
  background: linear-gradient(180deg, rgba(239,233,239,1) 49%, rgba(229,238,254,1) 99%);
  width: 250px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #6d80a1;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
  color:  #6d80a1;;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #6d80a1;;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* 네비 */
nav{
  padding-top: 10px;
  width: 100%;
  z-index: 99;
  overflow: hidden;
  /* box-shadow: 0 5px 5px #efefef; */
}
nav a{
  text-decoration: none;
  color: #6d80a1;
  font-weight: 700;
}

/* 위로가기 */
#toTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background: #6d80a1;
  border-radius: 50%;
}
#toTop img{
  margin: 7px;
}

/* 인트로 */
#box0{
  background: rgb(239,233,239);
  background: linear-gradient(180deg, rgba(239,233,239,1) 49%, rgba(229,238,254,1) 99%);
  height: 100vh;
}
#box0 > h1{
  text-align: center;
  text-underline-position : under;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(218, 191, 196);
  color: #6d80a1;
  padding-top: 300px;
  overflow: hidden;
}
.down {animation: motion 0.4s linear 0s infinite alternate; margin-top: 0;}
@keyframes motion {
0% {margin-top: 0px;}
100% {margin-top: 10px;}
}
#box0 > div{
  margin: 50px;
  text-align: center;
}
#box0 > div > a{
  font-size: 50px;
}
/* h1#lager:hover{transform:scale(1.1,1.1);} */
h1.textS{
  text-shadow: 5px 5px 2px rgb(255, 255, 255);
}

/* 프로필 */
/* #box1{
  background: #f3f3f3;
} */
#box1 > div.row{
  width: 100%;
}
.info{
  border: 1px solid #ccc;
  height: 45px;
  line-height: 45px;
  text-indent: 10px;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 400;
  overflow: hidden;
}


/* 스킬 */
.swiper {
  width: 100%;
  min-height: 300px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
div.frontIcon{
  width: 80%;
  height: 70%;
  margin: 0 auto;
}
div.frontIcon > img{
  width: 100%;
  height: 100%;
}
progress {
  appearance: none;
  width: 70%;
  height: 20px;
  margin-top: 30px;
}
progress::-webkit-progress-bar {
  background:#f0f0f0;
  border-radius:10px;
  box-shadow: inset 3px 3px 10px #ccc;
}
progress::-webkit-progress-value {
  border-radius:10px;
  background: #6d80a1;
  background: -webkit-linear-gradient(to right, rgba(239,233,239,1), #6d80a1);
  background: linear-gradient(to right, rgba(239,233,239,1), #6d80a1);
}
.frontText{
  height: 20px;
  font-size: 20px;
}
span.pl{
  top: -3px;
  width: 50px;
}

/* 프로젝트 */
/* #box3{
  background: yellowgreen;
} */


/* 미니프로젝트 */
#box4{
  background: gray;
  min-height: 1000px;
}
.active{
  color: pink;
}
.mobileSwiper{
  min-height: 664px;
}

/* loading */
#load{
  width: 100vw;
  height: 100vh;
  background: rgb(239,233,239);
  background: linear-gradient(180deg, rgba(239,233,239,1) 49%, rgba(229,238,254,1) 99%);
}
.loadBox{
  width: 400px;
  margin: 0 auto;
  padding-top: 50vh;
}
.progressbar{
  position: absolute;
  width: 400px;
  height: 40px;
  border-radius: 25px;
  overflow:hidden;
  background: #f3f3f3;
  position:relative;
}
.progressbar::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  height: 40px;
  width:0;
  background: #6d80a1;
  animation: progress 3s ease forwards;
}
@keyframes progress{
  0%{width: 0px}
  100%{width: 100%;}
}
.progress{
  position: absolute;
  top:0;
  right:0;
  z-index:99;
}
.protext::after{
  content: '%';
}
.protext{
  text-align: center;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


/* snow flake */
.snowflake {
  color: #ffffff;
  font-size: 1.5em;
  font-family: Arial;
  text-shadow: 0 0 1px rgb(252, 220, 225);
}

@-webkit-keyframes snowflakes-fall {
  0% {
      top: -10%;
  }
  100% {
      top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
  50% {
      -webkit-transform: translateX(80px);
      transform: translateX(80px);
  }
  100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
      top: -10%;
  }
  100% {
      top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
      transform: translateX(0px);
  }
  50% {
      transform: translateX(80px);
  }
  100% {
      transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}